body{
font-family:Poppins;
margin:0;
background:#0f172a;
color:white;
}

html{
scroll-behavior:smooth;
}

header{
text-align:center;
padding:50px;
background:linear-gradient(135deg,#6C63FF,#00C2FF);
animation:slideDown 1s ease;
}

nav a{
margin:15px;
color:white;
text-decoration:none;
font-weight:600;
}

nav a:hover{
color:#020617;
}

section{
padding:60px;
max-width:1000px;
margin:auto;
}

h2{
color:#00C2FF;
margin-bottom:20px;
}


.skills{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.skill-box{
background:#1e293b;
padding:20px;
border-radius:10px;
transition:0.3s;
}

.skill-box:hover{
transform:translateY(-5px);
}


.project{
background:#1e293b;
padding:20px;
border-radius:10px;
margin-bottom:30px;
transition:transform 0.3s, box-shadow 0.3s;
}

.project:hover{
transform:translateY(-10px);
box-shadow:0px 10px 25px rgba(0,0,0,0.5);
}

.project img{
max-width:70%;
height:auto;
display:block;
margin:15px auto;
border-radius:10px;
}

.contact-links a{
color:white;
text-decoration:none;
font-weight:500;
margin:0 5px;
}

.contact-links a:hover{
color:#00C2FF;
}


footer{
text-align:center;
padding:20px;
background:#020617;
margin-top:40px;
}


.fade{
opacity:0;
transform:translateY(30px);
transition:all 1s ease;
}

.fade.show{
opacity:1;
transform:translateY(0);
}


@keyframes slideDown{

from{
opacity:0;
transform:translateY(-50px);
}

to{
opacity:1;
transform:translateY(0);
}

}

.languages{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.language-box{
background:#1e293b;
padding:20px;
border-radius:10px;
text-align:center;
transition:0.3s;
}

.language-box:hover{
transform:translateY(-5px);
}

